html {font-size: .625em;} /* 10px */

body {
    color: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    font-style: normal;
}


/* design mobile screen first */
.display {
    font-size: 5.2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #1c1c1c;
    line-height: 1.2;
}

.display1 {
    font-size: 2.93rem;
    font-weight: 700;
}

.filler {
    font-size: 2.4rem;
}

h1, .h1 {
    font-size: 4rem;
}
h2, .h2 {
    font-size: 3.4rem;
}
h3, .h3 {
    font-size: 3.2rem;
}
h4, .h4 {
    font-size: 2.6rem;
}
small, .small {
    font-size: 2.0rem;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.4;
    color: #000000;
}

/* navigation */
a.navbar-brand {
    height: 4.4rem;
    width: 4.9rem;
    padding-top: 0.5rem;
    display: block;
}
a.navbar-brand > img {
    width: 65%;
}
.navText {
    font-size: 2rem;
    gap: 1rem;
    padding-top: 1rem;
    margin-right: -0.5rem;
    margin-bottom: 1rem;
}

.nav-link {
    color: #ffffff;
}

.navbar-toggler {
    border: 1px solid transparent;
    width: 4.4rem;
    height: 4.4rem;
    font-size: 1.6rem;
    padding: 0;
    margin-right: -1.1rem;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(28, 28, 28, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color:  rgb(255, 255, 255);
    background-color: #ffffff;
}
.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(4, 75, 214, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar {
    --bs-navbar-active-color: #ffffff;
    --bs-navbar-hover-color: #ffffff;
    --bs-navbar-toggler-focus-width: 0;
    padding: 1.2rem;
    margin: auto;
    width: 100%;
}

/* - projects */
.card {
    border: 1px solid transparent;
    border-radius: 3.6rem;
    text-decoration: none;

}
a.card:hover {
    background-color: rgba(4,75,214,0.1);
}
.card-img-top {
    border-radius: 3.6rem;
}
.card-title {
    margin-bottom: 0;
}

main > header.row {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
main {
    margin-bottom: 1.6rem;
}

main > div > .col {
    margin-bottom: 2.4rem;
}

.copyright {
    padding-top: 1rem;
    font-size: 1.4rem;
}

footer {
    height: 6.4rem;
    background-color: #060546;
    color: #ffffff;
}
footer > .row {
    padding: 1rem 0;
}


/* responsive */
@media only screen and (min-width:576px) {
    main > header.row {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
}
@media screen and (min-width: 768px) {
    figure {
        padding-top: 100px;
    }

    .display1 {
        font-size: 3.2rem;
        font-weight: 700;
    }

    .filler {
        font-size:  2.67rem;
    }
    .display {
        font-size: 7.73rem;
    }
    h1, .h1 {
        font-size: 4.6rem;
    }
    h2, .h2 {
        font-size: 3.6rem;
    }

    .navBox, main, footer {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

    .navText {
        gap: 5rem;
        padding-top: 0;
    }


    main > header.row {
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    main {
        margin-bottom: 5.6rem;
    }

    header > .row > figure {
        margin-bottom: 0;
    }

}

@media screen and (min-width: 1200px) {
    figure {
        padding-top: 100px;
    }

    .display1 {
        font-size: 2.8rem;
        font-weight: 700;
    }

    .filler {
        font-size: 2.8rem;
    }

    .display {
        font-size: 8.9rem;
    }
    h1, .h1 {
        font-size: 5.1rem;
    }
    h2, .h2 {
        font-size: 3.8rem;
    }
    h3, .h3 {
        font-size: 2.8rem;
    }

    .navBox, main, footer {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    nav, main > .row, main > section, footer > .row {
        width: 145rem;
    }

    main > header.row {
        margin-top: 12rem;
        margin-bottom: 12rem;
    }
    main {
        margin-bottom: 7.6rem;
    }
}

